.second-section h2 {
    text-align: start;
    font-size: 30px;
    font-weight: 600;
    color: #d32531;
}
.second-section-box {
    display: block;
    border-top: 2px solid #d32531;
}
.box1 {
    padding: 10px;
}
.box1 a:hover {
    border-left: 2px solid #d32531;
}
.box1 h3 {
    font-size: 20px;
    font-weight: 600;
}
.box1 p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
}
.second-section-box img {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .second-section-box {
        display: flex;
    }
    .box1 {
        width: 25%;
    }
}