h1 {
   text-align: center;
    margin: 20px 0;
}
#dynamic-hello {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
}
p {
    margin-top: 25px;
    margin-bottom: 7px;
    border-bottom:#d32531 2px solid ;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box1 {
    padding: 0px 32px;
}
input {
    min-width: 300px;
}
.advName, .advEmail, .advPass, .advPassAgain, .advAge, .advPhone, .advAdress, .advCity, .advZip, .advIdCard {
    display: none;
    width: 300px;
    padding: 5px;
    min-width: 300px;
    font-size: 13px;
    border: #d32531 2px solid ;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #d32531
}
.button-cont {
    display: flex;
    justify-content: center;
}
#button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    background-color: #d32531;
    border-radius: 2px;
    border-color: #d32531;
    font-family: Graphik, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#button:hover {
    opacity: 70%;
}
/*
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: normal;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}